.cta_box {
  background-color: $red_01;
  padding: 65px 0 79px;
  text-align: center;
  margin-bottom: 30px;
  position: relative;

  @include MQ(tab) {
    padding: 30px 15px 17px;
    margin-bottom: 20px;
  }

  &::before {
    @include pseudoElement;
    height: 128px;
    width: 104%;
    @include bgImgContain("/img/top/pc/cta_text.png");
    top: 65px;
    left: -28px;
  }

  h2 {
    color: $white_01;
    letter-spacing: 0.05em;
    line-height: 1.05;
    margin-bottom: 30px;

    @include MQ(sm) {
      margin-bottom: 0;
    }

    span {
      letter-spacing: 0.05em;
      line-height: 1.05;
      margin-bottom: 4px;
      font-size: 40px;
      display: inline-block;

      @include MQ(sm) {
        font-size: 28px;
        line-height: 1.28;
      }

      &.balloon {
        font-size: 25px;
        letter-spacing: 0.015em;
        position: relative;
        font-family: $font_02;

        @include MQ(sm) {
          font-size: 16px;
        }

        &::before,
        &::after {
          @include pseudoElement;
          width: 14px;
          height: 25px;
          top: 50%;
          transform: translateY(-50%);
          @include bgImgContain("/img/top/border_white.png");

          @include MQ(tab) {
            width: 12px;
            height: 18px;
          }
        }

        &::before {
          left: -38px;

          @include MQ(tab) {
            left: -17px;
          }
        }

        &::after {
          right: -38px;
          transform: scaleX(-1) translateY(-50%);

          @include MQ(tab) {
            right: -17px;
          }
        }
      }
    }
  }

  .cta {
    background-color: $white_01;
    padding: 30px;
    display: inline-flex;
    flex-direction: column;
    width: 790px;
    margin-top: 30px;

    @include MQ(tab) {
      display: block;
      padding: 30px 15px 27px;
      width: 100%;
      margin-top: 15px;
      margin-bottom: 26px;
    }

    p {
      margin-bottom: 20px;
      font-size: 25px;
      letter-spacing: 0.025em;
      line-height: 1.69;
      font-weight: bold;
      display: inline-block;

      @include MQ(tab) {
        font-size: 13px;
        // display: block;
        font-size: 15px;
        line-height: 1.26;
      }

      @include MQ(sp_sm) {
        font-size: 12px;
      }

      span {
        &.red_box {
          font-size: 25px;
          border: 1px solid $red_01;
          color: $red_01;
          letter-spacing: 0.025em;
          line-height: 1.57;
          padding: 3px 28px;
          margin-left: 5px;

          @include MQ(tab) {
            font-size: 14px;
            padding: 4px;
          }

          @include MQ(sp_sm) {
            font-size: 12px;
          }

          &:last-of-type {
            margin-right: 5px;
          }
        }

        &.red_balloon {
          position: relative;
          color: $red_01;
          font-size: 15px;
          letter-spacing: 0.05em;
          text-align: center;
          font-weight: bold;

          @include MQ(sp_sm) {
            font-size: 12px;
          }

          &::before,
          &::after {
            @include pseudoElement;
            top: 50%;
            transform: translateY(-50%);
            width: 9px;
            height: 16px;
            background: center / contain no-repeat
              url("/img/top/border_red.png");
          }

          &::before {
            left: -15px;
          }

          &::after {
            right: -15px;
            transform: translateY(-50%) scaleX(-1);
          }
        }
      }
    }

    div {
      display: flex;

      @include MQ(tab) {
        width: 350px;
        max-width: 100%;
        margin: 0 auto;
        display: block;
      }

      a {
        width: 350px;
        font-size: 18px;
        letter-spacing: 0.02em;
        line-height: 1.33;
        font-family: $font_01;
        height: 70px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
        letter-spacing: 0.02em;
        line-height: 1.35;
        color: $white_01;
        background: center / cover no-repeat;
        padding-left: 15px;
        padding-right: 40px;
        position: relative;
        font-family: $font_01;

        @include MQ(sm) {
          width: 100%;
          font-size: 17px;
          line-height: 1.35;
          height: 60px;
        }

        @include MQ(sp_sm) {
          font-size: 13px;
        }

        &:first-of-type {
          margin-right: 30px;
          background-image: url("/img/top/cta_red.png");
          margin-bottom: 5px;

          @include MQ(tab) {
            margin-right: 0;
          }
        }

        &:last-child {
          background-image: url("/img/top/cta_blue.png");
        }

        &::after {
          @include pseudoElement;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
          width: 23px;
          height: 3.6px;
          @include bgImgContain("/img/top/arrow01.png");
        }
      }
    }
  }
}
