.button {
  color: #fff;
  background: linear-gradient(to bottom, $c_2, darken($c_2, 5%));
  padding: 0.7rem 1rem;
  padding-right: 1.3rem;
  border-radius: 999px;
  display: flex;
  place-items: center;
  gap: 0.3rem;
  position: fixed;
  bottom: 3vmin;
  left: 3vmin;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  // font-size: .8em;
}

.icon {
  background-color: #fff;
  border-radius: 100%;
  aspect-ratio: 1;
  width: 2rem;
  display: grid;
  place-items: center;
}

.text {
  font-family: sans-serif;
  font-size: 0.9rem;
  @include MQ() {
    font-size: 0.8rem;
  }

  margin: 0 0.5rem;

  strong {
    font-weight: bold;
  }

  small {
    font-size: 0.8em;
    display: block;
  }
}
