$breakpoints: (
  'sm': 'screen and (max-width: 600px)',
  'xl': 'screen and (min-width: 600px)',
) !default;
@mixin MQ($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$c_0: #f5f5f5;
$c_1: #333333;
$c_2: #be2522;
$c_3: #688096;
$c_4: #3B4773;