.contact {
    background-color: #fff;
    margin: 0 -1.5rem;
    padding: 1.5rem;
    margin-top: 2rem;

    @include MQ(xl) {
        padding: 2rem 2.5rem;
        margin-right: -2.5rem;
        margin-left: -2.5rem;
    }

    h2 {
        &:first-child {
            margin-top: 0;
        }
    }

    h3 {
        font-size: 1.5ewm;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    h5 {
        margin-top: 1.6rem;
    }

    * + h6 {
        margin-top: 0.8rem;
    }

    h6 {
        color: $c_2;
        font-family: sans-serif;
        font-size: 0.8125rem;
        margin-bottom: -0.3rem;
    }

    form {
        padding-top: 0;
        padding-bottom: 0;
    }

    input:not([type="submit"]) {
        width: 15rem;
    }

    input[type="submit"] {
        padding: 3px 28px;
        margin-bottom: 20px;
    }

    textarea {
        width: 100%;
        height: 10rem;
        margin-top: 0.8rem;
    }

    .getAddress {
        margin-top: 0.8rem;
    }

    .setAddress {
        margin-top: 0.8rem;

        button {
            border: 1px solid #688096;
            padding: 5px 22px;
        }
    }
}

.select {
    width: 10rem;
    border-bottom: $c_3 solid 1px;
    padding: 0.2em 0;
    position: relative;

    &::after {
        content: "";
        width: 0.6rem;
        height: 0.6rem;
        border-top: 0.1rem solid $c_3;
        border-right: 0.1rem solid $c_3;
        transform: rotate(135deg) translate(0.33rem, -0.33rem);
        display: block;
        position: absolute;
        top: 0;
        right: 5%;
        pointer-events: none;
    }

    select {
        width: 100%;
    }
}

.contactCheck {
    font-size: 0.9em;
    display: flex;
    gap: 0.2rem;
    flex-wrap: wrap;
    margin: 0.3em 0;

    input {
        display: none;

        &:checked + label {
            color: #fff;
            background-color: $c_3;
        }
    }

    label {
        border: 1px solid $c_3;
        padding: 0.2em 0.5em;
        display: block;
    }
}
