.slect {
    margin: auto;
    display: flex;
    gap: 1.3rem;
    font-weight: bold;
    transform-origin: 0% 0%;
    background: #fff;
    padding: 1.7rem;

    @media (max-width: 685px) {
        padding: 1.5rem 1rem;
        width: 100vw;
        margin: 0 calc(50% - 50vw);
    }

    ul {
        font-size: .84em;

        @media (max-width: 600px) {
            font-size: .7em;
        }

        display: flex;
        flex-wrap: wrap;
        gap: .1em .9em;

        li {
            cursor: pointer;
        }
    }

    .inputTitle {
        // max-width: 8.6em;
        font-family: sans-serif;
        font-size: 0.8125rem;
    }

    .child {
        width: calc(50% - 26px);
        display: flex;
        flex-flow: column;

        .main {
            width: 10rem;
        }

        &:first-child {

            align-items: flex-end
        }
    }

    select {
        color: $c_1;
        max-width: calc(100% - 1.4rem - 4px);
        width: 100%;
        text-align: center;
        line-height: 1em;
        height: 1em;
        box-sizing: content-box;
        padding: .7rem;
        border: solid 2px $c_1;
        margin-bottom: .3rem;
    }

    img {
        margin-top: 1.7em;
    }

    >* {
        &:first-child {
            .child {
                align-items: flex-end
            }

            h5,
            ul {
                color: $c_2;
            }

            ul {
                justify-content: flex-end
            }

            select {
                border-color: $c_2;
            }
        }

        &:last-child {

            h5,
            ul {
                color: $c_3;
            }

            ul {
                justify-content: flex-start
            }

            select {
                border-color: #688096;
            }
        }
    }
}