.slect {
    transform-origin: 0% 0%;
    background: #fff;
    padding: 1.7rem 3rem;
    @media (max-width: 600px) {
        padding: 1.5rem 1rem;
        width: 100vw;
        margin: 0 calc(50% - 50vw);
    }
    margin: auto;
    display: flex;
    gap: 1.3rem;
    font-weight: bold;
    ul {
        font-size: .9em;
        @media (max-width: 600px) {
            font-size: .7em;
        }
        display: flex;
        flex-wrap: wrap;
        gap: .1em .9em;
    }
    select {
        max-width: 8.6em;
        text-align: center;
        line-height: 1em;
        height: 1em;
        box-sizing: content-box;
        padding: .7rem;
        border: solid 2px $c_1;
        margin-bottom: .3rem;
    }
    img {
        margin-top: .5em;
    }
    >* {
        &:first-child {
            text-align: right;
            ul {
                justify-content: flex-end
            }
            select {
                border-color: #be2522;
            }
            ul {
                color: #be2522;
            }
        }
        &:last-child {
            ul {
                color: #688096;
                justify-content:flex-start
            }
            select {
                border-color: #688096;
            }
        }
    }
}