.article {
    background: #fff;
    padding: 2rem 2.5rem;
    margin-right: -2.5rem;
    margin-left: -2.5rem;
    margin-top: 2.5rem;

    @include MQ() {
        width: 100vw;
        margin: 0 calc(50% - 50vw);
        margin-top: 2rem;
        padding: 1.3rem calc(50vw - 50%);
    }

    h2 {
        margin-top: 0;
    }
}