html {
  scroll-behavior: smooth;
}
iframe {
  border: none;
}
summary {
  display: block;
}
summary::-webkit-details-marker {
  display: none;
}
input[type="radio"],select,label,summary {
  cursor: pointer;
}
a,summary,label,input,select {
  &:hover {
    opacity: .7;
    * {
      opacity: .7;
    }
  }
}
h1,h2,h3,h4,h5,h6,strong {
  font-weight: bold;
}
::placeholder {
    opacity: .4;
  }
textarea {
  display: block;
}


.spOnly {
  @include MQ(xl) {
    display: none;
  }
}
.pcOnly {
  @include MQ() {
    display: none;
  }
}
.Gmap {
  aspect-ratio: 8 / 5;
  @include MQ() {
    width: 100%;
  }
}
.p-country-name,.honeypot {
  display: none;
}
.nav_course {
  a {
    border-color: $c_2 !important;
  }
}
h6.nav_course {
  color: $c_2;
}

html {
  font-family: 'Shippori Mincho', serif;
}
body {
  color: $c_1;
  background: $c_0;
}
h1,h2,h3,h4,h5,h6,strong {
  color: #000;
}
p {
  font-size: 15px;
}

main {
  // ジャンプリンクずれ修正
  *[id] {
    // display: flex;
    // flex-flow: column;
    &::before {
      display: block;
      height: 10rem;
      margin-top: -10rem;
      content: "";
      order:0;
    }
  }
  max-width: 950px;
  margin: auto;
  margin-top: 80px;
  padding: 4vw;
  display: flex;
  >article {
    width: 100%;
    >*:first-child {
      margin-top: 0;
    }
    h1,h2,h3,h4,h5,h6 {
      letter-spacing: .05em;
      &+.LinkList{
        margin-top: -3rem;
      }
      &::before {
        letter-spacing: .3em;
        font-size: .5em;
        color: $c_3;
        display: block;
        content: attr(data-subtitle);
        pointer-events: none;
      }
    }
    h1 {
      color: $c_2;
      font-size: 1.875rem;
      margin-bottom: .3em;
    }
    h2 {
      font-size: 1.25rem;
      margin-top: 1.25em;
      margin-bottom: .7em;
    }
    p {
      letter-spacing: .05em;
      line-height: 1.7em;
      margin-bottom: 1.3em;
    }
    a {
      color: $c_3;
      border-bottom: dashed 1px $c_3;
      padding: 0 .05em;
    }
  }
}

.nav_course_and_classtype {
  @media (min-width: 600px) {
  position: unset !important;
  }
  .nav_course {
    visibility: hidden;
    height: 0;
  }
}

.navClose {
  flex: 1;
  background: rgba(#000,.5);
  backdrop-filter: blur(2px);
  opacity: 0;
  transition: opacity .1s;
  cursor: pointer;
}
.nav_true {
  @media (max-width: 600px) {
    transform:translateX(-100%);
    .navClose {
      opacity: 1 !important;
    }
  }
}

h3 {
  margin-top: .7em;
}
input {
  &[type="text"] {
    border-bottom: $c_3 solid 1px;
    padding: .2em 0;
  }
}
textarea {
  border: $c_3 solid 1px;
  padding: .3em;
}