.tmb {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-bottom: .8rem;

  @include MQ() {
    width: 100vw;
    margin: 0 calc(50% - 50vw);
    margin-top: -70px !important;
    margin-bottom: .8rem;
  }
}