.header {
  width: 100vw;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 9998;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.16);

  @media (min-width: 600px) {
    padding: min(3vw, 0.7rem);
  }

  @media (max-width: 600px) {
    font-size: 0.8em;
  }
}

.inner {
  max-width: 1000px;
  margin: auto;
  display: flex;

  @media (min-width: 600px) {
    align-items: center;
  }

  justify-content: space-between;

  .title {
    color: $black_01;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: $font_02;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.44;

    @media (max-width: 600px) {
      margin: 3vw;
    }

    small {
      display: block;
      font-weight: normal;
      font-size: 12px;
      letter-spacing: 0.005em;
      line-height: 1.41;
      margin-bottom: -2px;
    }
  }
}

.menu {
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.addr {
  height: 100%;
  display: flex;
  gap: 1em;
  margin-right: 0.65em;
  text-align: center;

  @media (max-width: 760px) {
    &::after,
    &::before {
      content: "";
    }

    gap: 0.4em;
    margin-right: 0.4rem;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    line-height: 1em;
  }

  li {
    display: flex;
    flex-flow: column;
  }

  .name {
    font-size: 0.75em;
    border: solid 1px #000;
  }

  .tel {
    font-size: 1.2rem;

    @media (max-width: 760px) {
      display: none;
    }
  }

  @media (min-width: 760px) {
    display: flex;
  }
}

.meta {
  color: $c_0;
  display: flex;
  justify-content: space-between;

  li {
    cursor: pointer;

    > * {
      font-size: 0.8em;

      @media (max-width: 600px) {
        width: fit-content;
        padding: 0 0.5rem;
      }

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .contact {
    text-align: center;
    background: $red_01;
    height: 100%;
  }

  .spMENU {
    @include MQ(xl) {
      display: none;
    }

    width: 15vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: $red_01;
    transition: 0.15s background;

    &.close {
      //   background: $c_1;
    }

    svg {
      width: 80%;
    }
  }
}

.backButton {
  color: #fff;
  background-color: $c_2;
  position: fixed;
  top: 75px;
  left: 25px;
  padding: 0.2em 0.7em;
}
