.h2_red {
  color: $c_2;
}

.h2_blue {
  color: $c_4;
}

.block {
  display: block !important;
}

.text_red {
  color: $red_01;
}

.main {
  display: block;
  max-width: 100%;
  padding: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  .success {
    display: flex;
  }

  .cta {
    p {
      text-align: center;
      margin-bottom: 6px;
      line-height: 1.18;

      span {
        &.red_balloon {
          position: relative;
          color: $red_01;
          font-size: 15px;
          letter-spacing: 0.05em;
          text-align: center;
          font-weight: bold;

          &::before,
          &::after {
            @include pseudoElement;
            top: 50%;
            transform: translateY(-50%);
            width: 9px;
            height: 16px;
            background: center / contain no-repeat
              url("/img/top/border_red.png");
          }

          &::before {
            left: -15px;
          }

          &::after {
            right: -15px;
            transform: translateY(-50%) scaleX(-1);
          }
        }
      }
    }

    a {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      font-weight: bold;
      letter-spacing: 0.02em;
      line-height: 1.35;
      color: $white_01;
      background: center / cover no-repeat;
      padding-left: 15px;
      padding-right: 40px;
      position: relative;

      &:first-of-type {
        background-image: url("/img/top/cta_red.png");
        margin-bottom: 5px;
      }

      &:last-child {
        background-image: url("/img/top/cta_blue.png");
      }

      &::after {
        @include pseudoElement;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 23px;
        height: 3.6px;
        @include bgImgContain("/img/top/arrow01.png");
      }
    }
  }

  .cta_box {
    background-color: $red_01;
    padding: 30px 15px 17px;
    text-align: center;

    h2 {
      color: $white_01;

      span {
        font-size: 28px;
        line-height: 1.28;

        &.balloon {
          font-size: 16px;
          letter-spacing: 0.015em;
          position: relative;

          &::before,
          &::after {
            @include pseudoElement;
            width: 12px;
            height: 18px;
            top: 50%;
            transform: translateY(-50%);
            @include bgImgContain("/img/top/border_white.png");
          }

          &::before {
            left: -17px;
          }

          &::after {
            right: -17px;
            transform: scaleX(-1) translateY(-50%);
          }
        }
      }
    }

    .cta {
      background-color: $white_01;
      padding: 30px 15px 27px;

      p {
        margin-bottom: 19px;
        font-size: 13px;
        letter-spacing: 0.025em;
        line-height: 1.69;
        font-weight: bold;

        span {
          &.red_box {
            font-size: 14px;
            border: 1px solid $red_01;
            color: $red_01;
            letter-spacing: 0.025em;
            line-height: 1.57;
            padding: 4px;
            margin-left: 5px;

            &:last-of-type {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  .fv {
    position: relative;
    padding-top: 159px;
    padding-left: 30px;
    @include bgImgCover("/img/top/dali_stone_bg.png");

    &::before {
      @include pseudoElement;
      top: 0;
      right: 0;
      width: 92%;
      height: 174px;
      @include bgImgCover("/img/top/fv_bg_01.png");
      z-index: 1;
    }

    &::after {
      @include pseudoElement;
      @include bgImgContain("/img/top/fv_label-sp.png");
      width: 57px;
      height: 630px;
      top: -20px;
      left: -23px;
      z-index: 0;
    }

    > * {
      position: relative;
      z-index: 2;
    }

    &__inner {
      padding: 0 15px;

      ul {
        li {
          background-color: $blue_01;
          color: $white_01;
          font-size: 16px;
          font-weight: bold;
          display: inline-block;
          padding: 5px 13px;

          &:first-child {
            margin-right: 5px;
          }
        }
      }

      h2 {
        font-family: $font_02;
        color: $blue_01;
        font-size: 34px;
        letter-spacing: 0.05em;
        margin-top: 7px;
        margin-bottom: 20px;

        span {
          &.small {
            font-size: 24px;
          }

          &.block {
            display: block;
          }
        }
      }

      > p {
        span {
          font-size: 14px;
          font-weight: bold;
          color: $blue_01;
          border-bottom: 1px solid $blue_01;
          letter-spacing: 0.015em;
        }
      }
    }
  }

  .cta {
    margin-top: 17px;
  }

  .section {
    h2 {
      &.title_blue {
        font-size: 20px;
        letter-spacing: 0.025em;
        line-height: 1.5;
        color: $white_01;
        text-align: center;
        background-color: $blue_01;
        padding: 5px;
        margin: 0;

        > span {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          height: 100%;
          border: 1px solid rgba(157, 127, 68, 0.3);
          padding: 18px 0 16px;
        }
      }
    }

    &__inner {
      width: 83.7%;
      margin: 0 auto;
    }

    &_01 {
      background-color: $yellow_01;
      padding: 45px 0 30px;

      &__inner {
        h2 {
          font-family: $font_02;
          font-size: 20px;
          line-height: 1.4;
          text-align: center;
          position: relative;

          &::before,
          &::after {
            @include pseudoElement;
            width: 30px;
            height: 66px;
            top: 50%;
            transform: translateY(-50%);
          }

          &::before {
            @include bgImgContain("/img/top/leaf_left.png");
            left: 0;
          }

          &::after {
            @include bgImgContain("/img/top/leaf_right.png");
            right: 0;
          }
        }

        h3 {
          position: relative;
          font-family: $font_02;
          text-align: center;

          &::before {
            @include pseudoElement;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 1px;
            background-color: $red_01;
            z-index: 0;
          }

          span {
            position: relative;
            color: $red_01;
            background-color: $yellow_01;
            z-index: 1;
            padding-left: 10px;
            padding-right: 10px;
          }
        }

        .box {
          h4 {
            font-size: 12px;
            letter-spacing: 0.025em;
            text-align: center;
            background-color: $red_01;
            color: $white_01;
            padding: 4px;
            width: 100%;
            border: 1px solid $red_01;
          }

          &__item {
            padding: 12px;
            background-color: $white_01;
            border: 1px solid $red_01;

            &:not(:last-child) {
              margin-bottom: 5px;
            }

            &_01 {
              ul {
                li {
                  width: calc(50% - 15px);
                }
              }
            }

            &_02 {
              ul {
                li {
                  width: calc(33.333% - 15px);

                  &:nth-child(4),
                  &:nth-child(5) {
                    width: calc(50% - 15px);
                  }
                }
              }
            }

            ul {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;

              li {
                position: relative;
                text-align: center;
                font-size: 13px;
                font-weight: bold;
                line-height: 1.61;
                white-space: nowrap;

                span {
                  font-weight: bold;
                }

                > span {
                  @include positionCenter;
                  font-size: 13px;
                  letter-spacing: 0.025em;
                  line-height: 1.61;
                  margin-top: -5px;

                  .block {
                    display: block;
                  }

                  .red {
                    color: $red_01;
                    font-size: 30px;
                    line-height: 1;
                  }
                }

                img {
                  width: 81px;
                  height: 95px;
                }
              }
            }
          }
        }

        p {
          font-size: 18px;
          letter-spacing: 0.025em;
          line-height: 1.66;
          font-family: $font_02;
          text-align: center;
          color: $red_01;
          margin-top: 20px;
          font-weight: bold;
        }
      }
    }

    &_02 {
      padding-bottom: 15px;

      &__inner {
        h3 {
          font-family: $font_02;
          text-align: center;
          letter-spacing: 0.025em;
          line-height: 1.5;
        }

        .box {
          &__item {
            margin-bottom: 15px;

            h4 {
              font-size: 18px;
              letter-spacing: 0.025em;
              line-height: 1.66;
              color: $white_01;
              text-align: center;
              padding: 7px 0 12px;
              @include bgImgCover("/img/top/title_bg01.png");

              span {
                display: block;
                font-size: 12px;
                letter-spacing: 0.025em;
                font-weight: normal;
              }
            }

            &__content {
              padding: 12px 15px 35px;
              border: 1px solid $blue_01;

              h5 {
                font-size: 16px;
                letter-spacing: 0.025em;
                line-height: 1.68;
                color: $blue_01;
                border-bottom: 1px solid rgba(157, 127, 68, 0.3);
                margin-top: 18px;
                margin-bottom: 15px;
              }

              ul {
                li {
                  font-size: 13px;
                  line-height: 1.76;
                }
              }

              a {
                display: block;
                font-size: 16px;
                letter-spacing: 0.015em;
                line-height: 1.75;
                text-align: center;
                padding: 11px;
                border: 1px solid $blue_01;
                color: $blue_01;
                font-weight: bold;
                width: 240px;
                margin: 25px auto 0;
              }
            }
          }
        }
      }
    }

    &_03 {
      background-color: $blue_02;
      padding-bottom: 20px;

      &__inner {
        h3 {
          font-family: $font_02;
          font-size: 18px;
          letter-spacing: 0.006em;
          line-height: 1.66;
          color: $blue_01;
          text-align: center;
          margin-top: 30px;
          margin-bottom: 27px;
        }

        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            width: calc(50% - 5px);
            background-color: $white_01;
            border: 1px solid $gray_01;
            margin-bottom: 9px;
            line-height: 1.76;
            font-size: 13px;
            font-weight: bold;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: 93px;

            &:nth-child(odd) {
              margin-right: 9px;
            }
          }
        }

        h4 {
          font-size: 15px;
          letter-spacing: 0.025em;
          line-height: 1.8;
          font-family: $font_02;
          color: $white_01;
          text-align: center;
          margin: 0 auto;
          margin-top: 9px;
          width: 95%;
          background-color: $blue_01;
          padding: 4px 19px 5px;
          margin-bottom: 30px;
        }

        .box {
          width: 95.2%;
          margin: 0 auto;

          &__item {
            position: relative;
            padding-top: 17px;
            margin-bottom: 13px;

            img {
              position: absolute;
              top: 0;
              width: 129px;
            }

            p {
              padding: 9px 14px;
              background-color: $white_01;
              font-size: 13px;
              line-height: 1.53;
              font-weight: bold;
              margin-bottom: 0;
            }

            &:nth-child(even) {
              p {
                padding-left: 104px;

                > span {
                  //   width: 62.6%;
                  display: block;
                  margin-left: auto;
                }
              }

              img {
                left: -50px;
              }
            }

            &:nth-child(odd) {
              p {
                padding-right: 104px;
              }

              img {
                right: -50px;
              }
            }
          }
        }
      }
    }

    &_04 {
      background-color: $white_01;

      h2 {
        font-family: $font_02;
        line-height: 1.66;
        letter-spacing: 0.006em;
        font-size: 18px;
        text-align: center;
      }

      > h2 {
        @include bgImgCover("/img/top/dali_stone_bg.png");
        padding: 20px;
        font-family: $font_02;

        > span {
          margin: 0 auto;
        }
      }

      &__inner {
        h3 {
          font-size: 15px;
          letter-spacing: 0.025em;
          line-height: 1.8;
          text-align: center;
          position: relative;
          font-family: $font_02;
          margin-top: 50px;
          margin-bottom: 25px;

          &::before {
            @include pseudoElement;
            height: 1px;
            width: 100%;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: $black_01;
          }

          span {
            position: relative;
            padding-left: 6px;
            padding-right: 6px;
            display: inline-block;
            background-color: $white_01;
            z-index: 1;
          }
        }

        h4 {
          font-family: $font_02;
          text-align: center;
          font-size: 15px;
          letter-spacing: 0.025em;
          line-height: 1.8;
          margin-bottom: 30px;
        }

        .box {
          display: flex;
          flex-wrap: wrap;
          align-items: stretch;
          justify-content: center;

          &__item {
            width: calc(50% - 3px);
            margin-bottom: 37px;

            &:nth-child(odd) {
              margin-right: 6px;
            }

            h5 {
              font-size: 14px;
              line-height: 1.5;
              text-align: center;
              padding: 9px 0 3px;
              background-color: $blue_01;
              color: $white_01;
              height: 54px;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              white-space: nowrap;

              span {
                display: block;
              }
            }

            p {
              font-size: 13px;
              line-height: 1.38;
              padding: 8px 5px 10px;
              border: 1px solid $blue_01;
              height: 24vw;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;

              &::before,
              &::after {
                @include pseudoElement;
                border-top: 24px solid transparent;
                border-bottom: 24px solid transparent;
                border-left: 23px solid;
                top: 100%;
                left: 50%;
                transform: translate(-50%, -50%);
              }

              &::before {
                top: calc(100% + 1px);
                border-left: 23px solid $blue_01;
              }

              &::after {
                border-left-color: $white_01;
              }
            }
          }
        }
      }

      &__bottom {
        position: relative;
        background-color: $yellow_01;
        padding: 50px 0 30px;

        &::before {
          @include pseudoElement;
          @include positionCenter;
          top: 0;
          transform: translateX(-50%);
          border-top: 30px solid $white_01;
          border-left: 50vw solid transparent;
          border-right: 50vw solid transparent;
        }

        h2 {
          margin-bottom: 26px;
        }

        .box {
          width: 84%;
          margin: 0 auto;

          &__item {
            h3 {
              font-family: $font_02;
              text-align: center;
              color: $white_01;
              padding: 8px;
              @include bgImgCover("/img/top/title_bg_01.png");
            }

            div {
              background-color: $white_01;
              padding: 30px 22px 15px;

              ul {
                li {
                  padding-left: 17px;
                  position: relative;
                  line-height: 1.76;
                  font-weight: bold;
                  font-family: $font_01;

                  &::before {
                    @include pseudoElement;
                    width: 12px;
                    height: 12px;
                    background-color: $red_01;
                    top: 8px;
                    left: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  article {
    max-width: 35rem;

    h2 {
      &::before,
      .subTitle {
        color: $c_2;
        margin-bottom: 0.1em;
        letter-spacing: 0.2em;
        font-size: 0.5em;
        display: block;
        content: attr(data-subtitle);
        pointer-events: none;
      }
    }

    p {
      margin-bottom: 1.5em;
    }
  }

  .more {
    ul {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      // margin-bottom: .2rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem;

      li {
        font-size: 1rem;

        a {
          color: $c_2;
        }
      }
    }
  }
}

.top {
  max-width: 1000px;
  margin: auto;
  margin-top: calc(81px + 2.3rem);
  margin-bottom: 2.7rem;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2) inset, 0 0 10px rgba(0, 0, 0, 0.3),
    0 0 20px rgba(0, 0, 0, 0.1);

  @media (min-width: 1000px) {
    border-radius: 0.5rem;
    overflow: hidden;

    > * {
      border-radius: 0.5rem;
      overflow: hidden;
    }
  }

  @include MQ(xl) {
    text-align: center;
  }

  @include MQ() {
    margin-top: 59px;
  }
}

.topImg {
  h2,
  h3 {
    @include MQ() {
      padding-left: 1rem;
    }

    word-break: keep-all;
    overflow-wrap: break-word;
    color: #fff;
    text-shadow: rgba(#000, 0.7) 1px 1px 10px, rgba(#000, 0.7) -1px 1px 10px,
      rgba(#000, 0.7) 1px -1px 10px, rgba(#000, 0.7) -1px -1px 10px;
  }

  h3 {
    font-weight: normal;
  }

  .messageH2 {
    font-size: 2.3em;
  }

  height: 400px;

  @include MQ() {
    height: 330px;
  }

  display: grid;
  place-items: center;
  position: relative;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.card {
  padding: 1.7rem 2.5rem;
  margin: 0 -2.5rem;

  &.bg {
    background-color: #fff;
  }

  h2 {
    margin-top: 0;

    &::before,
    .subTitle {
      color: $c_2;
      margin-bottom: 0.1em;
    }
  }

  &.news {
    background-color: lighten($c_2, 50);

    .more ul {
      margin-bottom: 0;
    }

    @include MQ() {
      width: 100vw;
      margin-right: calc(50% - 50vw);
      margin-left: calc(50% - 50vw);
      padding: 1.7rem calc(50vw - 50%);
    }
  }

  &.marginBottom {
    margin-bottom: 2rem;
  }
}

.courseAndClasstype {
  .wrap {
    position: relative;

    &::after {
      font-family: sans-serif;
      font-size: 0.8125rem;
      line-height: 1em;
      content: "> あなたの組み合わせを見る";
      color: #fff;
      background-color: $c_2;
      padding: 0.45em 0.6em;
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
    }
  }

  &:hover {
    * {
      opacity: 1;
    }

    .wrap {
      position: relative;

      &::after {
        opacity: 0.5;
      }
    }
  }

  select {
    pointer-events: none;
  }
}

.curriculum {
  background-color: #fff;
  padding: 1vw;
  position: relative;

  @include MQ() {
    padding: 0.5rem;
    padding-bottom: 1.3rem;
    width: 100vw;
    margin: 0 calc(50% - 50vw);
  }

  svg {
    font-family: sans-serif;
  }

  &::after {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 0.8125rem;
    line-height: 1em;
    content: "> レベル別カリキュラム(PDF)を見る";
    color: #fff;
    background-color: $c_2;
    padding: 0.45em 0.6em;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
  }

  &:hover {
    opacity: 1;

    &::after {
      opacity: 0.7;
    }
  }
}

.teacherList {
  ul {
    display: flex;
    gap: 1rem;
    height: 13rem;

    .teacher {
      flex-shrink: 0;
      width: 180px;
    }
  }
}

.gallery {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;

  li {
    img {
      min-width: 200px;
    }
  }
}

.courseBox {
  // width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem;

  @include MQ() {
    padding-left: 0;
    padding-right: 0;
  }
}

.experiencesArea {
  position: relative;
  background: linear-gradient(to bottom, rgba(#fff, 0), rgba(#fff, 1));
  width: 100%;
  // overflow: hidden;

  .experiencesLink {
    color: initial;
    padding: 0;
    border: 0;

    &:hover {
      opacity: 1;

      // .experiencesBox {
      // 	opacity: .6;
      // }

      .experiencesButton {
        background: linear-gradient(
          to bottom,
          $c_2,
          darken($c_2, 5%)
        ) !important;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 1) !important;
        // opacity: .6;
      }
    }

    .experiencesBox {
      display: flex;
      font-size: 0.8rem;
      gap: 2.5rem;
      // pointer-events: none;
      // transition: opacity .2s;

      .experienceBox {
        margin-top: -10px;
        min-width: 430px;
      }
    }

    .experiencesLinkArea {
      font-family: sans-serif;
      font-weight: bold;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      display: grid;
      place-items: center;

      .experiencesButton {
        color: #fff;
        background: linear-gradient(to bottom, $c_1, darken($c_1, 5%));
        border: 0;
        border-radius: 999px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
        padding: 0.5em 1.5em;
        transition: background 0.2s, box-shadow 2s;

        a {
          color: #fff;
          display: block;
        }

        // &:hover {
        // 	background-color: $c_2;
        // }
      }
    }
  }
}
