.LinkList {
    width: 80%;
    font-size: .9rem;
    display: flex;
    flex-wrap: wrap;
    gap: .3em .7em;
    margin-bottom: 1.5rem;
    li {
    //   margin-right: .7rem;
      a{
        &::before {
            content: ">";
            margin-right: .2em;
        }
      }
    }
  }