.gradation {
    position: relative;

    &::before,
    &::after {
        content: "";
        width: 15%;
        height: 100%;
        position: absolute;
        top: 0;
    }

    &::before {
        left: -1px;
        background: linear-gradient(to left, rgba($c_0, 0), rgba($c_0, 1));
    }

    &::after {
        right: -1px;
        background: linear-gradient(to right, rgba($c_0, 0), rgba($c_0, 1));
    }
}

.carousel {
    width: 100%;
    // height: 5rem;
    overflow-x: scroll;
    cursor: pointer;

    &:not(:hover)::-webkit-scrollbar {
        display: none;
    }

    .container {
        gap: 1rem;
        display: flex;
        width: fit-content;
        height: 100%;

        >div {
            min-height: 100%;
        }
    }
}

.group {
    display: flex;
    height: 100%;
    width: 100vw;
    display: grid;
    place-items: center;
}