.gradation {
    position: relative;
    margin-right: -2.5rem;
    margin-left: -2.5rem;

    &::before,
    &::after {
        content: "";
        width: 15%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 99;
    }

    &::before {
        left: -1px;
        background: linear-gradient(to left, rgba(#fff, 0), rgba(#fff, 1));
    }

    &::after {
        right: -1px;
        background: linear-gradient(to right, rgba(#fff, 0), rgba(#fff, 1));
    }
}

.carousel {
    width: 100%;
    overflow-x: scroll;
    cursor: pointer;

    &:not(:hover)::-webkit-scrollbar {
        display: none;
    }

    // width: 100vw;
    // margin: 0 calc(50% - 50vw);¥

    .container {
        gap: 1rem;
        display: flex;
        width: fit-content;
        height: 100%;

        >div {
            min-height: 100%;
        }
    }
}

.group {
    display: flex;
    height: 100%;
    width: 100vw;
    display: grid;
    place-items: center;
}