.carousel {
    width: 100%;
    // height: 5rem;
    overflow-x: scroll;
    cursor: pointer;

    &:not(:hover)::-webkit-scrollbar {
        display: none;
    }

    .container {
        display: flex;
        width: fit-content;
        height: 100%;

        >div {
            min-height: 100%;
        }
    }
}

.group {
    display: flex;
    height: 100%;
    width: 100vw;
    display: grid;
    place-items: center;
}