body {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9997;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    visibility: hidden;
    opacity: 0;
    transition: 0.15s;

    @media (max-width: 600px) {
      display: none;
    }
  }

  &:has(.nav_true) {
    .overlay {
      opacity: 1 !important;
      visibility: visible !important;
    }
  }
}

main {
  @include MQ(xl) {
    width: 950px;
  }

  &:has(.lp_main) {
    &:has(.nav_true) {
      @include MQ(sm) {
        position: relative;
        z-index: 9998;
      }
    }
  }
}

.hamburger {
  @include MQ(xl) {
    width: 93px;
    height: 80px;
    background-color: $red_01;
  }

  cursor: pointer;
  background-color: $red_01;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: 0.15s background;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 33px;
    height: 14px;
    transform: translate(-50%, -50%);
    z-index: 9999;

    span {
      background-color: $white_01;
      position: absolute;
      left: 0;
      width: 33px;
      height: 1px;

      &:first-child {
        top: 50%;
        transform: translateY(-50%) rotate(30deg);
      }

      &:nth-child(2) {
        visibility: hidden;
        opacity: 0;
      }

      &:last-child {
        top: 50%;
        transform: translateY(-50%) rotate(-30deg);
        bottom: auto;
      }
    }
  }
}

.nav_true {
  @include MQ(xl) {
    transform: none;
    right: 0 !important;

    .navClose {
      opacity: 1 !important;
    }
  }
}
