.footer {
  position: relative;
  background-color: $blue_02;
  overflow: hidden;
  padding-bottom: 60px;

  &::before {
    @include pseudoElement;
    @include bgImgContain("/img/footer_text01.png");
    width: 100%;
    height: 101px;
    top: 100%;
    right: 0;
    transform: translateY(-50%);
    z-index: 1;

    @media (max-width: 600px) {
      width: 20px;
      height: 271px;
      top: 0;
      transform: none;
      background-image: url("/img/footer_text01-sp.png");
    }
  }

  .front {
    padding-top: 30px;
    padding-bottom: 30px;

    &__inner {
      width: 84%;
      margin: 0 auto;

      a {
        font-family: $font_02;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.03em;
        line-height: 1.44;
        color: $blue_01;

        small {
          font-size: 12px;
          letter-spacing: 0.005em;
          line-height: 1.41;
          display: block;
          margin-bottom: -2px;
          font-weight: normal;
        }
      }
    }
  }

  .bottom {
    position: relative;
    background-color: $blue_06;
    padding-bottom: 15px;

    &__inner {
      width: 84%;
      margin: 0 auto;
      padding-top: 30px;

      ul {
        margin-bottom: 30px;

        li {
          position: relative;
          padding-left: 21px;
          font-size: 14px;
          letter-spacing: 0.015em;
          line-height: 1.42;
          margin-bottom: 15px;

          &::before {
            @include pseudoElement;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 11px;
            height: 8px;
            @include bgImgContain("/img/arrow_01.png");
          }

          a {
            color: $blue_01;
            font-family: $font_01;
          }
        }
      }

      p {
        small {
          font-size: 12px;
          letter-spacing: 0.015em;
          line-height: 1.66;
          font-family: $font_01;
          color: $blue_01;
        }
      }
    }
  }
}

.fixed_btn {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white_01;
  z-index: 9997;

  @include MQ(xl) {
    display: none;
  }

  a {
    text-align: center;
    height: calc(100% + 2px);
    font-size: 12px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    display: flex;
    flex-flow: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 1px solid $black_01;
    padding: 5px;

    &:first-child {
      border-right: 0;
    }

    span {
      font-family: $font_01;
      font-weight: bold;
      font-size: 11px;

      &:first-child {
        font-size: 18px;
        color: #f8953e;

        @include MQ(sp_sm) {
          font-size: 11px;
        }

        img {
          margin-right: 5px;
        }
      }

      &:last-child {
        font-size: 9px;
        line-height: 1;
      }

      img {
        width: 20px;

        @include MQ(sm) {
          width: 15px;
        }

        @include MQ(sp_sm) {
          width: 13px;
        }
      }
    }
  }
}

.page_top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 96px;
  height: 96px;
  z-index: 9997;

  @include MQ(sm) {
    width: 66px;
    height: 66px;
    right: 10px;
    bottom: 70px;
  }
}
