.nav {
    z-index: 9;
    font-size: .95em;
    font-family: sans-serif;
    font-weight: bold;
    min-width: fit-content;
    overflow: scroll;
    text-align: right;
    height: fit-content;
    margin-left: .7rem;
    position: sticky;
    top: calc(80px + 3vw);
    @media (max-width: 600px) {
        top: 57px;
        width: 100vw;
        height: calc(100vh - 57px);
        position: fixed;
        right: -100%;
        transition: transform .3s;
        overflow: scroll;
        .inner {
            display: flex;
            min-height: 100vh;
        }
        .main {
            background-attachment: scroll;
            margin-left: auto;
            background: $c_0;
            // height: in;
            padding: 3vw;
        }
    }
    ul {
        margin-bottom: 1.75rem;
    }
    li {
        margin-bottom: .1rem;
        a {
            background: #fff;
        border: solid 1px $c_1;
        line-height: 1.2em;
        padding: .3em .5em .1em;
        // height: 1.8em;
        overflow: hidden;
        display: inline-block;
        }
    }
    .addr {
        display: none;
        margin-top: .5em;
        margin-bottom: .6em;
        @media (max-width: 600px) {
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: .6rem;
        }
        a {
            background: transparent;
            border: none;
            padding: 0;
            line-height: 1.4em;
        }
        .tel {
            color: $c_2;
            font-size: 1.2em;
            width: fit-content;
        }
    }
}