main:has(.card) {
  @media (max-width: 600px) {
    margin-top: 59px;
    padding: 0;
  }

  aside {
    @media (max-width: 600px) {
      margin-left: 0;
      margin-right: 0;
    }

    form {
      @media (max-width: 600px) {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

.card {
  padding: 0 2.5rem 2rem;
  margin-right: -2.5rem;
  margin-left: -2.5rem;
  background-color: #fff;

  @media (max-width: 600px) {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  h1 {
    background-color: #b42320;
    color: #fff;
    font-size: 25px;
    padding: 13px 20px 20px;
    line-height: 1;
    margin-bottom: 0;
    margin-right: -2.5rem;
    margin-left: -2.5rem;

    @media (max-width: 600px) {
      line-height: 1.2;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .news {
    padding: 1.7rem 2.5rem;

    @media (max-width: 600px) {
      padding: 0 20px;
    }

    p {
      font-size: 15px;
      line-height: 1.44;
      margin-top: 30px;
    }
  }

  .content {
    padding: 2rem 2.5rem;
    margin-right: -2.5rem;
    margin-left: -2.5rem;
    background-color: #fff;

    @media (max-width: 600px) {
      padding: 0 20px 42px;
      margin-left: 0;
      margin-right: 0;
    }

    h2 {
      font-size: 20px;
      background-color: #fae5e5;
      border-left: 12px solid #b42320;
      padding: 12px 8px;
      box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
      margin-top: 40px;
      margin-bottom: 30px;
    }

    h3 {
      margin-top: 40px;
      margin-bottom: 10px;
    }

    > p {
      font-size: 15px;
      line-height: 1.44;
      margin-top: 30px;
    }

    .flow {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      writing-mode: vertical-lr;
      margin-bottom: 30px;

      li {
        font-size: 15px;
        line-height: 1.2;
        background-color: #fffbf4;
        border: 1px solid #f89174;
        border-radius: 4px;
        padding: 5px 28px;
        position: relative;
        font-family: $font_03;
        color: #010101;

        &:not(:last-child) {
          margin-right: 30px;

          &::before,
          &::after {
            @include pseudoElement;
            height: 3px;
            width: 20px;
            background-color: #f89174;
            right: -25px;
          }

          &::before {
            top: calc(50% - 6px);
            transform: translateY(-50%) rotate(45deg);
          }

          &::after {
            top: calc(50% + 6px);
            transform: translateY(-50%) rotate(-45deg);
          }
        }
      }
    }

    .circle {
      border: 1px solid #a5a5a5;
      background-color: #fffffd;
      border-radius: 10px;
      padding: 10px 20px 0;

      p {
        font-size: 15px;
        font-family: $font_03;
        letter-spacing: 0.72px;
        line-height: 1.44;
      }
    }

    .section {
      h3 {
        font-size: 20px;
        line-height: 1.08;
        letter-spacing: 0.72px;
      }

      p {
        font-family: $font_03;
        line-height: 1.44;
        letter-spacing: 0.72px;
        font-size: 15px;
        margin-bottom: 30px;
      }

      .table {
        margin-bottom: 32px;

        table {
          width: 100%;
          border-collapse: collapse;

          tr {
            border: 1px solid #a5a5a5;
          }

          th {
            background-color: #fae5e5;
          }

          th,
          td {
            vertical-align: middle;
            text-align: center;
            line-height: 1;
            font-size: 15px;
            font-family: $font_03;
            padding: 12px 0 8px;
          }
        }
      }

      .link {
        text-align: right;

        a {
          border-bottom: 1px solid #be2522;
        }
      }
    }
  }
}
