.tab {
    display: none;

    @include MQ(tab) {
        display: block;
    }
}

.main {
    gap: 20px;

    @include MQ(tab) {
        padding-left: 0;
        padding-right: 0;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    :global(#skip-silence-bar) {
        display: none;
    }
}

.h1 {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 38px;
    padding: 0 20px;

    @include MQ(tab) {
        width: 92%;
    }

    @include MQ(sm) {
        margin-top: 70px;
        font-size: 34px;
    }
}

.h2,
.h2_2 {
    margin-top: 0;

    @include MQ(tab) {
        margin-bottom: 1.25rem;
    }

    .subTitle {
        color: $c_2;
        margin-bottom: 10px;
        font-size: 0.5em;
        display: block;
        content: attr(data-subtitle);
        pointer-events: none;
        text-transform: uppercase;

        @include MQ(tab) {
            font-size: 0.75rem;
            margin-bottom: 1.43em;
        }
    }

    .title {
        letter-spacing: normal;
        line-height: 1.5;

        @include MQ(tab) {
            font-size: 1.5rem;
        }

        // span {
        //     @include MQ(tab) {
        //         display: block;
        //     }
        // }
    }
}

.h2 {
    font-size: 1.875em;

    @include MQ(tab) {
        width: 92%;
    }

    .title {
        padding-left: 6px;
        position: relative;

        @include MQ(tab) {
            padding-left: 0;
        }

        &::before {
            content: "";
            position: absolute;
            top: calc(50% + 2px);
            left: 0;
            height: 60%;
            width: 2px;
            transform: translateY(-50%);
            background: #be2522;

            @include MQ(tab) {
                left: -5px;
                height: 79.1%;
            }
        }
    }
}

.h2_2 {
    .title {
        margin-top: 18px;

        @include MQ(tab) {
            margin-top: 8px;
        }

        &__inner {
            border-top: 1px solid #be2522;
            border-bottom: 1px solid #be2522;
            padding-top: 3px;
            padding-bottom: 3px;
            position: relative;

            @include MQ(tab) {
                font-size: 1.12rem;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0;
                width: 100%;
                height: 1px;
                background: #ff9494;
            }

            &::before {
                top: 2px;
            }

            &::after {
                bottom: 2px;
            }
        }
    }
}

.h3 {
    color: $c_2;
    font-family: sans-serif;
    font-size: 0.8125rem;
    margin-top: 1em;
}

.box {
    background: #ffffff;
    padding: 1.7rem 2.5rem;

    @include MQ(tab) {
        padding: 1rem 1rem 1.75rem;
    }

    ul:last-child {
        margin-bottom: 0;
    }

    &.message,
    &.staff {
        .box__text {
            border-width: 2px;

            @include MQ(tab) {
                border-width: 1px;
            }
        }

        .row {
            display: flex;
            align-items: center;
            gap: 1.02rem;
            margin-top: 23px;

            @include MQ(tab) {
                display: block;
            }

            > img {
                aspect-ratio: 214 / 352;
                object-fit: cover;
                width: 36.8%;

                @include MQ(tab) {
                    width: 100%;
                }
            }

            h3 {
                font-size: 1.12em;
                margin-top: 0;
                margin-bottom: 6px;

                @include MQ(tab) {
                    margin-bottom: 1rem;
                }

                .subTitle {
                    font-size: 0.83em;
                    color: #be2522;

                    @include MQ(tab) {
                        font-size: 0.93rem;
                    }
                }
            }

            &__item {
                width: 59%;

                @include MQ(tab) {
                    width: 100%;
                }

                p {
                    color: #333333;
                    font-family: "Shippori Mincho", serif;
                    padding-top: 6px;
                    font-size: 0.93em;
                    line-height: 1.46;

                    @include MQ(tab) {
                        padding-top: 1rem;
                        margin-bottom: 1rem;
                    }
                }
            }
        }
    }

    &.staff {
        padding-left: 0.68rem;
        padding-right: 0.68rem;

        @include MQ(tab) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    &.flow {
        .box {
            &__text {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 3.4rem;
                padding-bottom: 18px;

                @include MQ(tab) {
                    padding-bottom: 1rem;
                    gap: 1rem;
                }

                &.read {
                    padding-bottom: 0;
                    margin-bottom: 18px;

                    @include MQ(tab) {
                        margin-bottom: 1rem;
                    }
                }

                .row {
                    flex: 0 0 auto;
                    width: calc(33.3% - 2.27rem);
                    background: #fff2f2;
                    border-radius: 8px;
                    text-align: center;
                    padding: 8px;
                    position: relative;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);

                    @include MQ(sm) {
                        width: 100%;
                        padding: 8px 1.5em;
                        padding-right: 6.93em;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        right: 0;
                        right: -1.7rem;
                        transform: translate(50%, -50%);
                        background: center / contain no-repeat url("/img/recruit/arrow.png");
                        width: 20px;
                        height: 20px;

                        @include MQ(sm) {
                            content: none;
                        }
                    }

                    &:nth-child(3),
                    &:last-child {
                        &::after {
                            content: none;
                        }
                    }

                    h3 {
                        font-size: 0.93em;

                        @include MQ(sm) {
                            margin-bottom: 0.5em;
                        }

                        .subTitle {
                            font-size: 0.8em;
                            background: #be2522;
                            color: #fff;
                            border-radius: 38px;

                            @include MQ(tab) {
                                font-size: 0.75em;
                            }
                        }

                        .title {
                            margin-top: 9px;
                        }
                    }

                    .img {
                        text-align: center;

                        @include MQ(sm) {
                            position: absolute;
                            top: 50%;
                            right: 1.87em;
                            transform: translateY(-50%);
                        }

                        img {
                            width: 57px;
                        }
                    }

                    p {
                        @include MQ(tab) {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }

        .link {
            @include MQ(sm) {
                display: none;
            }
        }
    }

    &.curriculum {
        .box {
            padding: 0;

            &__text {
                &:first-child {
                    margin-bottom: 18px;
                }
            }
        }
    }

    &.faq {
        .ol {
            display: flex;
            flex-flow: column;
            gap: 0.8em;
            border-top: 1px solid #be2522;
            border-bottom: 1px solid #be2522;
            margin-top: 18px;
            padding-top: 18px;
            padding-bottom: 18px;

            summary {
                position: relative;
                padding-right: 50px;

                svg {
                    position: absolute;
                    top: 50%;
                    right: 14px;
                    width: 14px;
                    height: 14px;
                    transform: translateY(-50%) rotate(180deg);

                    line {
                        fill: none;
                        stroke: #000;
                    }
                }
            }

            details[open] summary {
                color: $c_2;
                font-weight: bold;

                svg {
                    transform: translateY(-50%) rotate(0);

                    line {
                        stroke: #be2522;
                    }
                }
            }

            .body {
                margin: 0.5rem;
                padding: 0 1rem;
                border-left: solid $c_2 2px;

                h3 {
                    font-size: 0.93em;
                    margin-top: 0;
                }

                p {
                    font-size: 0.93em;
                    font-family: $font_03;
                }
            }
        }
    }

    &_2 {
        h2 {
            .subTitle {
                display: flex;
                align-items: center;
                gap: 7px;

                @include MQ(tab) {
                    font-size: 0.75rem;
                    flex-wrap: wrap;
                    gap: 0;
                    column-gap: 6px;
                    margin-bottom: 0;
                }

                span {
                    &.eng {
                        @include MQ(tab) {
                            display: block;
                            width: 100%;
                        }
                    }

                    &:not(.eng) {
                        font-size: 10px;
                        font-family: $font_03;
                        background: #ffe5e5;
                        padding: 0 5px;

                        @include MQ(tab) {
                            margin-top: 8px;
                        }
                    }
                }
            }
        }

        .row {
            margin-top: 12px;

            @include MQ(tab) {
                margin-top: 20px;
            }

            h3 {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 12px;
                font-family: $font_03;
                margin-bottom: 8px;
                margin-top: 0;

                img {
                    width: 14px;
                    height: 14px;
                }
            }

            h4 {
                padding-left: 28px;

                @include MQ(tab) {
                    padding-left: 0;
                    font-size: 0.93rem;
                }

                + p {
                    padding-left: 42px;

                    @include MQ(tab) {
                        padding-left: 0;
                    }
                }
            }

            p {
                padding-left: 18px;

                @include MQ(tab) {
                    padding-left: 0;
                    margin-bottom: 16px;
                    font-size: 0.93rem;
                }
            }
        }
    }

    &.location {
        h2 {
            .subTitle {
                display: flex;
                align-items: center;
                gap: 7px;

                span {
                    font-size: 10px;
                    font-family: $font_03;
                    background: #ffe5e5;
                    padding: 0 5px;
                }
            }
        }

        .row {
            margin-top: 12px;

            h3 {
                font-size: 18px;
                line-height: 1.44;
            }

            h4 {
                display: flex;
                align-items: center;
                gap: 4px;
                font-size: 12px;
                font-family: $font_03;
                margin-bottom: 8px;
                margin-top: 0;

                img {
                    width: 14px;
                    height: 14px;
                }
            }

            p {
                padding-left: 18px;
                font-family: "Shippori Mincho", serif;
                color: #333333;

                @include MQ(tab) {
                    padding-left: 0;
                }
            }

            .map {
                display: flex;
                align-items: center;
                gap: 21px;
                margin-bottom: 24px;

                @include MQ(tab) {
                    flex-direction: column;
                    gap: 16px;
                }

                img,
                iframe {
                    width: 50%;
                    aspect-ratio: 280 / 160;

                    @include MQ(tab) {
                        width: 100%;
                        aspect-ratio: 343 / 196;
                    }
                }
            }

            .tel {
                font-size: 0.93em;
                color: #be2522;
                font-weight: bold;
                font-family: "Shippori Mincho", serif;
                display: inline-block;
                line-height: 1.46;
                border-bottom: 1px solid;
                border-image: repeating-linear-gradient(to right, #be2522 0 6px, transparent 6px 8px) 1;

                @include MQ(tab) {
                }
            }
        }
    }

    &.company {
        @include MQ(tab) {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 1rem;
        }

        .h2_2 {
            @include MQ(tab) {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }

        .table {
            border-top: 1px solid #be2522;
            border-bottom: 1px solid #be2522;
            padding-bottom: 12px;

            @include MQ(tab) {
                table,
                tbody,
                tr,
                td {
                    display: block;
                }

                td {
                    width: 100%;
                }
            }

            table {
                tr {
                    th,
                    td {
                        padding: 12px;
                        font-size: 0.93em;
                    }

                    th {
                        font-weight: bold;
                        font-family: $font_03;
                        white-space: nowrap;

                        @include MQ(tab) {
                            padding-left: 1rem;
                        }
                    }

                    td {
                        @include MQ(tab) {
                            padding-right: 1rem;
                            background: #fff2f2;
                        }
                    }

                    &:nth-child(even) {
                        background: #fff2f2;

                        @include MQ(tab) {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }

    &__text {
        border-bottom: 1px solid;
        border-image: repeating-linear-gradient(to right, #be2522 0 6px, transparent 6px 8px) 1;

        h3 {
            @include MQ(tab) {
                font-size: 1rem;
            }
        }

        p {
            font-family: "Shippori Mincho", serif;

            @include MQ(tab) {
                font-size: 0.93em;
                margin-bottom: 1.25em;
            }
        }
    }

    .link {
        text-align: center;
        margin-top: 30px;

        .button {
            color: #fff;
            background: linear-gradient(to bottom, $c_2, darken($c_2, 5%));
            padding: 6px 1rem 9px;
            padding-right: 1.3rem;
            border-radius: 999px;
            display: inline-flex;
            place-items: center;
            gap: 0.3rem;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);

            .icon {
                background-color: #fff;
                border-radius: 100%;
                aspect-ratio: 1;
                width: 2rem;
                display: grid;
                place-items: center;

                img {
                    width: 66.6%;
                }
            }

            .text {
                font-family: sans-serif;
                font-size: 0.9rem;
                @include MQ() {
                    font-size: 0.8rem;
                }

                margin: 0 0.5rem;

                strong {
                    font-weight: bold;
                    font-size: 16px;
                }

                small {
                    display: block;
                    font-size: 16px;
                    font-weight: bold;
                }
            }
        }
    }
}

.lead_text {
    @include MQ(tab) {
        margin-bottom: 22.5px;
    }

    > span {
        display: block;
        max-width: 1200px;
        margin: 0 auto;

        @include MQ(tab) {
            width: 100%;
        }

        p {
            font-size: 0.93em;
            line-height: 1.46;
            font-family: "Shippori Mincho", serif;
        }
    }
}

.main {
    margin-top: 0;
    padding-top: 0;

    article {
        max-width: 35rem;
    }
}

.main_content {
    max-width: 800px;
    margin: 0 auto;

    @include MQ(tab) {
        width: 92%;
    }

    &:last-of-type {
        margin-bottom: 100px;

        @include MQ(sm) {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
}

.treatment {
    text-align: center;
    margin-bottom: 20px;
}

.result_row {
    display: table;
    width: 100%;
    padding: 10px 0 20px;
    margin: 10px 0;
    border-bottom: 1px dotted #ccc;

    @include MQ(sm) {
        display: block;
        margin: 0;
    }

    > * {
        display: table-cell;
        vertical-align: top;

        @include MQ(sm) {
            display: block;
        }
    }

    > h3,
    > div,
    > article span {
        @include MQ(sm) {
            display: block;
            width: 100%;
            padding: 5px 10px;
        }
    }

    .h3 {
        width: 150px;
        font-size: 18px;

        @include MQ(sm) {
            width: 100%;
            margin-bottom: 10px;
            background: #ffe2e2;
            padding: 5px 10px;
        }
    }

    .row_content {
        display: block;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        h4 {
            @include MQ(sm) {
                margin-bottom: 5px;
            }
        }
    }
}
