.View {
    min-width: 0;

    h1 {
        font-family: sans-serif;
    }

    h3 {
        color: $c_1;
        font-size: 1.6em;
        margin-bottom: 1em;
    }

    h4 {
        font-family: sans-serif;
        font-size: .8em;
        margin-bottom: 1em;
    }
}

.card {
    // width: 900px;
    background-color: #fff;
    margin-right: -2.5rem;
    margin-left: -2.5rem;
    padding: 1.5rem 2.5rem;
}

.flex {
    // background-color: #fff;

    @media (min-width: 600px) {
        display: flex;
        gap: 1rem;
    }

    // margin-right: -2.5rem;
    // margin-left: -2.5rem;
    // padding: 1.5rem 2.5rem;

    // margin-top: 2rem;
}

.experiences {
    margin-top: 1rem;
}

.title {
    font-size: 1.7rem;
    margin-bottom: 1.7rem;
    // margin-top: 2rem;

    &::before {
        content: attr(data-subtitle);
        font-size: .9rem;
    }
}

.gallery {
    overflow-x: scroll;

    ul {
        display: flex;
        gap: .7rem;
    }
}

.courseBody {
    margin-bottom: 1.5rem;
}

.article {
    height: fit-content;
}

.taikenki {
    padding: 1rem;
    border: 1px solid $c_0;
    min-width: 12em;
    position: relative;


    @media (min-width: 600px) {
        overflow: hidden;
    }

    @media (max-width: 601px) {
        width: 100vw;
        margin: 0 calc(50% - 50vw);
        padding: 1rem;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(rgba(#fff, 0), rgba(#fff, .8), rgba(#fff, 1));

        @media (max-width: 601px) {
            height: 100%;
            width: 3rem;
            right: -1.5rem;
            background: linear-gradient(to right, rgba(#fff, 0), rgba(#fff, .8), #fff);
        }
    }


    .more {
        display: block;
        width: calc(100% - 2rem);
        position: absolute;
        bottom: 1rem;
        z-index: 99;
        text-align: center;
        border: none;
        color: $c_1;
        font-family: sans-serif;
        font-size: 0.8125rem;
        font-weight: bold;

        @media (max-width: 601px) {
            display: none;
        }
    }

    .inner {
        // height: 100%;
        width: calc(100% - 2rem);
        // height: 0;
        display: flex;
        flex-flow: column;

        @media (min-width: 600px) {
            position: absolute;
        }

        .scroll {

            @media (max-width: 601px) {
                overflow-y: scroll;

                width: 100vw;
                margin: 0 calc(50% - 50vw);

                display: flex;

                .space {
                    min-width: .5rem;
                }

                ul {
                    margin-left: 1.5rem;
                    margin-right: 3rem;
                }
            }

        }


        ul {
            font-size: 0.9rem;
            display: flex;
            gap: .7rem;

            @media (min-width: 600px) {
                // width: 12rem;
                flex-direction: column;
            }

            @media (max-width: 601px) {
                li {
                    min-width: 7rem;
                }
            }

            a {
                padding: 0;
                border: none;
                color: $c_3;
            }

            span {
                width: 100%;
            }

            .taikenki_title {
                color: $c_2;
                border-bottom: dashed 1px $c_2;
            }
        }

    }
}